<editor-login-walkthrough (loggedIn)="onLoggedIn()">
  <div class="loader" *ngIf="(state | async) !== State.NotifyMismatched"></div>

  <div class="status" *ngIf="(state | async) === State.Connecting">
    Connecting to your channel<span class="dots">{{ dots | async }}</span>
  </div>

  <div class="status" *ngIf="(state | async) === State.AwaitingGameClient">
    Waiting for your game client<span class="dots">{{ dots | async }}</span>
    <small>Users can only connect to Interactive while your game client is running.</small>
  </div>

  <ng-container *ngIf="(state | async) === State.NotifyMismatched">
    <p class="mismatch">
      You game client connected with
      <span>{{ versionMismatch.actualVersion.game.name }} v{{ versionMismatch.actualVersion.version }}</span>
      (version ID <code>{{ versionMismatch.actualVersion.id }}</code>),<br>but your local project is linked to
      <span>{{ versionMismatch.intendedVersion.game.name }} v{{ versionMismatch.intendedVersion.version }}</span>
      (version ID <code>{{ versionMismatch.intendedVersion.id }}</code>).
    </p>

    <p>Continue?</p>

    <div mat-dialog-actions>
      <button mat-button (click)="cancelConnect()">Cancel</button>
      <button mat-button (click)="acceptConnect()">Connect</button>
    </div>
  </ng-container>
</editor-login-walkthrough>
