<a href="https://mixer.com/i/studio"
  target="_blank"
  matTooltip="To the Interactive Studio"
  matTooltipPosition="below"
  class="logo">
</a>

<ul class="nav">
  <editor-code-nav value="Scenes"></editor-code-nav>
  <editor-code-nav value="Participant"></editor-code-nav>
  <editor-code-nav value="Groups"></editor-code-nav>
</ul>

<div class="spacer"></div>

<button mat-icon-button [disabled]="!(isMobile | async)" (click)="rotateDevice()">
  <mat-icon svgIcon="screen-rotation"></mat-icon>
</button>

<div class="sizing mat-theme-contrast">
  <mat-form-field>
    <mat-select
      placeholder="Device"
      [ngModel]="(frame | async)?.chosenDevice"
      (ngModelChange)="chooseDevice($event)">
      <mat-option *ngFor="let device of devices; let i = index" [value]="i">
        {{ device.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-input-container>
    <input matInput placeholder="Width" type="number" min="0"
      [ngModel]="(frame | async)?.width"
      (ngModelChange)="setWidth($event)">
  </mat-input-container>
  <div class="times">x</div>
  <mat-input-container>
    <input matInput placeholder="Height" type="number" min="0"
      [ngModel]="(frame | async)?.height"
      (ngModelChange)="setHeight($event)">
  </mat-input-container>
</div>

<div class="tools">
  <button mat-icon-button [matMenuTriggerFor]="syncMenu">
    <mat-icon svgIcon="upload"></mat-icon>
  </button>
  <button mat-icon-button
    matTooltipPosition="below"
    matTooltip="Connect to Interactive"
    (click)="connect($event)">
    <mat-icon svgIcon="rocket"></mat-icon>
  </button>
</div>

<mat-menu #syncMenu="matMenu">
  <button mat-menu-item *ngIf="!(isVersionLinked | async)" (click)="openLinkDialog()">Link to Interactive Version</button>
  <button mat-menu-item *ngIf="isVersionLinked | async" (click)="unlink()">Unlink from Interactive Version</button>
  <button mat-menu-item [disabled]="!(isVersionLinked | async)" (click)="uploadBundle()">Upload Control Bundle</button>
  <button mat-menu-item [disabled]="!(isVersionLinked | async)" (click)="uploadSchema()">Upload Schema</button>
</mat-menu>
