<a href="https://mixer.com/i/studio"
  target="_blank"
  mdTooltip="To the Interactive Studio"
  mdTooltipPosition="below"
  class="logo">
</a>

<ul class="nav">
  <editor-code-nav value="Controls"></editor-code-nav>
  <editor-code-nav value="Participant"></editor-code-nav>
  <editor-code-nav value="Groups"></editor-code-nav>
</ul>

<div class="spacer"></div>

<button md-icon-button [disabled]="!(isMobile | async)" (click)="rotateDevice()">
  <md-icon svgIcon="screen-rotation"></md-icon>
</button>

<div class="sizing mat-theme-contrast">
  <md-select
    placeholder="Device"
    [ngModel]="(frame | async)?.chosenDevice"
    (ngModelChange)="chooseDevice($event)">
    <md-option *ngFor="let device of devices; let i = index" [value]="i">
      {{ device.displayName }}
    </md-option>
  </md-select>
  <md-input-container>
    <input mdInput placeholder="Width" type="number" min="0"
      [ngModel]="(frame | async)?.width"
      (ngModelChange)="setWidth($event)">
  </md-input-container>
  <div class="times">x</div>
  <md-input-container>
    <input mdInput placeholder="Height" type="number" min="0"
      [ngModel]="(frame | async)?.height"
      (ngModelChange)="setHeight($event)">
  </md-input-container>
</div>

<div class="tools">
  <button md-icon-button
    [disabled]="!(canUndo | async)"
    mdTooltipPosition="below"
    mdTooltip="Undo (Ctrl-Z)"
    (click)="undo()">
    <md-icon svgIcon="undo"></md-icon>
  </button>
  <button md-icon-button
    [disabled]="!(canRedo | async)"
    mdTooltipPosition="below"
    mdTooltip="Redo (Ctrl-Y)"
    (click)="redo()">
    <md-icon svgIcon="redo"></md-icon>
  </button>
  <button md-icon-button
    mdTooltipPosition="below"
    mdTooltip="Connect to Interactive">
    <md-icon svgIcon="rocket"></md-icon>
  </button>
</div>
