@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/lint/lint.css';
@import '~codemirror/theme/monokai.css';
@import '../declarations';

.CodeMirror {
  font-family: $font-family-mono;
  font-size: 13px;
  width: 100%;
  height: calc(100vh - #{$dimension-navbar-height});
  line-height: 1.5em;
}

.CodeMirror.cm-s-monokai {
  .CodeMirror-linenumber {
    color: rgba(#fff, 0.15);
  }
  .CodeMirror-activeline-gutter .CodeMirror-linenumber {
    color: rgba(#fff, 0.3);
  }

  .CodeMirror-guttermarker-subtle {
    color: rgba(#fff, 0.2);
  }
}
