@import '../../../../static/editor/declarations';

:host {
  @include swift-ease-out('border-bottom-color', 'color');

  display: inline-block;
  padding: 6px 12px;
  outline: 0 !important;
  color: rgba(#fff, 0.75);
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  margin: 2px $dimension-gutter-md 0;
  background: transparent;
  border-bottom: 2px solid transparent;

  &.active {
    background: #000;
    color: #fff;
  }

  &:hover {
    border-bottom-color: #000;
    color: #fff;
  }
}
