@import '../../../../static/editor/declarations';

button {
  display: block;
  width: $dimension-sidenav-width;
  height: $dimension-sidenav-width;
  outline: 0 !important;
  background: transparent;
  border: 0;
  cursor: pointer;

  &.active,
  &:hover {
    background:$color-editor-active-line;
  }

  &:active {
    background: $color-primary;
  }

  mat-icon::ng-deep > svg {
    fill: rgba(#fff, 0.5);
  }
}
