@import '../../../../static/editor/declarations';

:host {
  @include layout-column-center();
  width: $dimension-sidenav-width;
  height: 100vh;
  background: $color-editor-background;
}

.logo {
  display: block;
  width: $dimension-sidenav-width;
  height: $dimension-sidenav-width;
  background: url(asset('merge-white.svg')) center center no-repeat $color-primary;
  background-size: $dimension-sidenav-width / 2;

  &:hover {
    background-color: lighten($color-primary, 10%);
  }
}

.nav {
  @include layout-column-center();

  &, li {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}
