@import '../../../../static/editor/declarations';

:host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: $color-editor-background;
}


ul {
  margin: $dimension-gutter-md;
  padding: 0;
}

li {
  background: rgba(#fff, 0.05);
  margin: $dimension-gutter-md 0;
  padding: $dimension-gutter-md;
  display: flex;
  color: #fff;
  align-items: center;
}

.saved-ago {
  flex-grow: 1;

  small {
    font-size: 0.8em;
    display: block;
    color: rgba(#fff, 0.5);
  }
}
