<div mat-dialog-content>
  <div class="header layout-row layout-align-start-center">
    <h1>
      Report Issue
      <small>Thank you for taking the time to report an issue. When you click the the Report Issue button, Microsoft will send information about your local development environment to assist with troubleshooting.</small>
    </h1>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="reportIssue()">Report Issue</button>
  <button mat-button (click)="dialog.close()">Close</button>
</div>
