<h1 mat-dialog-title>Connect to Channel</h1>
<div mat-dialog-content>
  <p>

    Please enter the ID of the channel you want to connect to. Leave it blank to connect to your own.
  </p>
  <mat-input-container>
    <input matInput placeholder="Channel ID"
      [ngModel]="connectionChannel | async"
      (ngModelChange)="setConnectionChannel($event)"
      type="number">
  </mat-input-container>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Close</button>
  <button mat-button [mat-dialog-close]="true">Connect</button>
</div>
