<editor-login-walkthrough (loggedIn)="onLoggedIn()">
  <div class="loader"></div>

  <div class="status" *ngIf="(state | async) === State.Connecting">
    Connecting to your channel<span class="dots">{{ dots | async }}</span>
  </div>

  <div class="status" *ngIf="(state | async) === State.AwaitingGameClient">
    Waiting for your game client<span class="dots">{{ dots | async }}</span>
    <small>Users can only connect to Interactive while your game client is running.</small>
  </div>
</editor-login-walkthrough>
