<h1 mat-dialog-title>Choose Starter Template</h1>
<div mat-dialog-content>
    <p>Choose the project template to start your project..</p>

    <radio-icon-list [value]="template | async" (change)="setTemplate($event)">
      <radio-icon icon="assets/new-project/template-html.svg" value="html" name="Plain HTML">
        Start with a simple HTML page.
      </radio-icon>
      <radio-icon icon="assets/new-project/template-preact.svg" value="preact" name="Preact and JSX">
        Use our Preact and JSX framework.
      </radio-icon>
    </radio-icon-list>

    <advanced-toggle>
      <mat-form-field style="width:100%">
        <input matInput
          placeholder="Custom Tarball URL"
          [ngModel]="template | async"
          (ngModelChange)="setTemplate($event)">
      </mat-form-field>
    </advanced-toggle>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="back()">Back</button>
  <span class="flex-fill"></span>
  <button mat-button (click)="next()" cdkFocusInitial>Select</button>
</div>
