<h1 mat-dialog-title>Choose Starter Template</h1>
<div mat-dialog-content>
    <p>Choose the project template to start your project..</p>

    <radio-icon-list [value]="template | async" (change)="setTemplate($event)">
      <radio-icon icon="assets/new-project/template-preact.svg" value="preact" name="Preact and JSX">
        Use our full framework set up with React and JSX.
      </radio-icon>
      <radio-icon icon="assets/new-project/template-html.svg" value="html" name="Plain HTML">
        Start with a simple HTML page and roll your own.
      </radio-icon>
    </radio-icon-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="back()">Back</button>
  <span class="flex-fill"></span>
  <button mat-button (click)="next()">Create my Project</button>
</div>
