@import '../../../assets/styles/declarations';

:host {
  display: block;
  background: $color-medium-gray;
  margin-top: $dimension-gutter-sm;
  padding: $dimension-gutter-sm;
  box-shadow: inset 0 3px 8px rgba(#000, 0.2);
  font-size: 0.8em;
}

a {
  @include body-link();
}
