<ng-container [ngSwitch]="screen | async">
  <uploader-confirming *ngSwitchCase="Screens.Confirming"></uploader-confirming>
  <uploader-uploading-schema *ngSwitchCase="Screens.UploadingSchema"></uploader-uploading-schema>
  <uploader-uploading-controls *ngSwitchCase="Screens.UploadingControls"></uploader-uploading-controls>
  <uploader-linking-game *ngSwitchCase="Screens.LinkingGame"></uploader-linking-game>
  <uploader-rename *ngSwitchCase="Screens.Rename"></uploader-rename>
  <uploader-compilation-error *ngSwitchCase="Screens.CompilationError"></uploader-compilation-error>
  <uploader-completed *ngSwitchCase="Screens.Completed"></uploader-completed>
</ng-container>
