@import '../../../assets/styles/declarations';

:host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: $color-editor-background;
  display: flex;
  flex-direction: column;
}

.content {
  @include scroll-y();

  font-family: $font-family-mono;
  font-size: 13px;
  line-height: 1.5em;
  flex-grow: 1;

  &.hasExpanded .line {
    opacity: 0.5;
  }

  .line {
    color: $color-text;
    padding: 5px 8px 5px 3em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;

    &::before {
      display: inline-block;
      margin-left: -3em;
      width: 3.5em;
      margin-right: 5px;
      text-align: right;
    }

    &:nth-child(odd) {
      background: rgba(#fff, 0.02);
    }

    &:hover,
    &.hovered {
      background: $color-editor-active-line;
    }

    &.expanded {
      opacity: 1;
    }

    &[data-line-type='ReceivedMethod'],
    &[data-line-type='ReceivedReply'] {
      &::before {
        content: '<<<';
        color: $color-success;
      }
    }

    &[data-line-type='SentMethod'],
    &[data-line-type='SentReply'] {
      &::before {
        content: '>>>';
        color: $color-highlight;
      }
    }

    &[data-line-type='Log'] {
      &[data-line-level='error']::before {
        content: 'ERR';
        color: $color-danger;
      }
      &[data-line-level='warn']::before {
        content: 'WARN';
        color: $color-spark;
      }
      &[data-line-level='info']::before {
        content: 'INFO';
        color: $color-primary2;
      }
      &[data-line-level='debug']::before {
        content: 'DEBG';
        color: $color-text-muted;
      }
    }
  }
}

.repl input,
.toggles input {
  @include unstyled-input();
  color: $color-text;
  font-size: 13px;
  font-family: $font-family-mono;
}

.repl {
  display: flex;
  flex-shrink: 0;

  input {
    flex-grow: 1;
    border-top: 1px solid #333;
    padding: $dimension-gutter-md;
    font-family: $font-family-mono;

    &::placeholder {
      font-style: italic;
    }
  }
}

.toggles {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 40px;

  input {
    border-bottom: 1px solid #333;
    margin-left: $dimension-gutter-md;
  }

  .message-kind {
    display: inline-block;
    margin: $dimension-gutter-sm;
    padding: $dimension-gutter-sm / 2;
    margin-bottom: $dimension-gutter-sm;
    color: $color-text-muted;
    cursor: pointer;
    font-size: 0.8em;

    &.active {
      border-bottom: 2px solid $color-primary;
      color: rgba(#fff, 0.8);
    }
  }

  mat-icon {
    color: $color-text-muted;
    width: 1em;
    margin: 0 0.5em;
    height: 1em;
    position: relative;
    cursor: pointer;

    &.active::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0.3em;
      height: 0.3em;
      background: $color-danger;
      border-radius: 50%;
    }

    &.selected {
      color: $color-text;
    }
  }

  input {
    flex-grow: 1;
    padding: $dimension-gutter-sm / 2;
    display: none;

    &.visible {
      display: block;
    }
  }
}
