<div class="toggles">
  <ng-container *ngIf="!(showFilter | async)">
    <a class="message-kind"
      (click)="toggleFilterKind(Message.SentMethod)"
      [class.active]="hasFilterKind(Message.SentMethod) | async">
      Server Calls
    </a>
    <a class="message-kind"
      (click)="toggleFilterKind(Message.SentReply)"
      [class.active]="hasFilterKind(Message.SentReply) | async">
      Server Replies
    </a>
    <a class="message-kind"
      (click)="toggleFilterKind(Message.ReceivedMethod)"
      [class.active]="hasFilterKind(Message.ReceivedMethod) | async">
      Control Calls
    </a>
    <a class="message-kind"
      (click)="toggleFilterKind(Message.Log)"
      [class.active]="hasFilterKind(Message.Log) | async">
      Control Logs
    </a>
  </ng-container>

  <input
    #filterInput
    name="filter"
    [class.visible]="showFilter | async"
    [ngModel]="(filter | async)?.pattern"
    (ngModelChange)="setPattern($event)"
    placeholder="Filter"
    alt="e.g. /on.+Create/">

  <span style="flex:1"></span>
  <mat-icon svgIcon="filter"
    (click)="showFilter.next(!showFilter.getValue())"
    [class.selected]="showFilter | async"
    [class.active]="(filter | async)?.pattern"></mat-icon>
  <mat-icon svgIcon="clear" (click)="clear()"></mat-icon>
</div>
<div #container class="content" [class.hasExpanded]="!!(expandedId | async)">
  <ng-container *ngFor="let item of (messages | async); trackBy: console.trackBy">
      <div *ngIf="(expandedId | async) === item.message.id"
        class="line expanded"
        [attr.data-line-type]="Message[item.message.kind]"
        [attr.data-line-level]="item.message.level"
        (click)="toggleExpansion(item.message.id)">
        <editor-expanded-message [item]="item"></editor-expanded-message>
      </div>
      <div *ngIf="(expandedId | async) !== item.message.id"
        class="line"
        [class.hovered]="(hoveredPair | async) === item.message.id"
        [attr.data-line-type]="Message[item.message.kind]"
        [attr.data-line-level]="item.message.level"
        (click)="toggleExpansion(item.message.id)"
        (mouseenter)="hoveredMessage(item.message)"
        (mouseout)="hoveredPair.next(null)"
        [innerHtml]="item.message.text | safe">
      </div>
  </ng-container>
</div>
<form (ngSubmit)="sendCommand()" class="repl">
  <input type="text" placeholder="Call control method, e.g. updateSettings({ platform: 'mobile' })"
    name="command"
    [ngModel]="commandInput | async"
    (ngModelChange)="commandInput.next($event)">
</form>
