<h1 mat-dialog-title>Welcome!</h1>
<div mat-dialog-content>
    <p>Welcome to miix! Miix is a tool that allows you to create amazing interactive experiences.</p>

    <p>We are excited to see what you create! If you create something cool, be sure to let us know at <a href="mailto:mixerdevinfo@microsoft.com" class="body-link">mixerdevinfo@microsoft.com</a>. We're here to make sure you succeed.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <span class="flex-fill"></span>
  <button mat-button (click)="create()" cdkFocusInitial>Create a Project</button>
</div>
