@import '../../../../static/editor/declarations';

@mixin phone($vertical) {
  position: absolute;
  border-radius: 24px;
  background: #000;

  @if $vertical {
    top: -50px;
    bottom: -50px;
    left: -15px;
    right: -15px;
  } @else {
    top: -15px;
    bottom: -15px;
    left: -50px;
    right: -50px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
  }

  &::before {
    border-radius: 5px;
    background: #666;
    width: 5px;
    height: 5px;
    top: 18px;
    border: 2px solid #333;

    @if $vertical {
      right: 18px;
    } @else {
      left: 18px;
    }
  }

  &::after {
    background: #292728;
    border-radius: 4px;

    @if $vertical {
      top: 22px;
      width: 64px;
      height: 8px;
      left: 50%;
      margin-left: -32px;
    } @else {
      height: 64px;
      width: 8px;
      top: 50%;
      margin-top: -32px;
      left: 22px;
    }
  }
}

:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: $dimension-resizer-width;

  &.fullscreen {
    width: 100% !important;
    background: url(asset('background.png')) #2e2e2e;
  }
}

.device {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: $dimension-navbar-height / 2;
  z-index: 0;
  box-shadow: 0 5px 30px rgba(#000, 0.6);

  &[data-frame='phone'] {
    &[data-orientation='portrait'] .frame {
      @include phone(true);
    }
    &[data-orientation='landscape'] .frame {
      @include phone(false);
    }
  }
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
}

.block {
  position: absolute;
  z-index: 1;

  &-video,
  &-chat > div {
    background: rgba(#0f2144, 0.5);
    border: 2px solid #142b55;
    box-shadow: 0 4px 10px rgba(#000, 0.5);

    &::before,
    &::after {
      content: '';
      position: absolute;
    }
  }

  &-video {
    $play-button-size: 16px;
    $margin-side: 20px;
    $margin-bottom: 30px;

    &::before {
      border-style: solid;
      border-width: ($play-button-size / 2) 0 ($play-button-size / 2) $play-button-size;
      border-color: transparent transparent transparent #25457a;
      left: $margin-side;
      bottom: $margin-bottom - $play-button-size / 2;
      width: 0;
      height: 0;
    }

    &::after {
      bottom: $margin-bottom - $play-button-size / 4 + $dimension-border-width / 2;
      left: $margin-side + $play-button-size * 2;
      right: $margin-side;
      height: $dimension-border-width;
      background: #25457a;
    }
  }

  &-chat {
    $ghost-color: #162b52;
    $ghost-height: 20px;
    $ghost-spacing: 10px;

    div {
      position: absolute;
      top: 8px;
      right: 8px;
      bottom: 8px;
      left: 0;

      &::before,
      &::after {
        background: $ghost-color;
        left: $dimension-gutter-md;
      }

      &::before {
        top: $dimension-gutter-md;
        height: $ghost-height;
        right: $dimension-gutter-md;
        box-shadow:
          0 ($ghost-height + $ghost-spacing) * 1 0 $ghost-color,
          0 ($ghost-height + $ghost-spacing) * 2 0 $ghost-color,
          0 ($ghost-height + $ghost-spacing) * 3 0 $ghost-color;
      }

      &::after {
        top: $dimension-gutter-md + ($ghost-height + $ghost-spacing) * 4;
        height: $ghost-height;
        right: $dimension-gutter-md + 30px;
      }
    }
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
