@import '../../../../static/editor/declarations';

:host {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 8px;
  text-align: right;
}

a {
  color: rgba(#fff, 0.5);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;

  mat-icon {
    width: 15px;
    height: 15px;
  }

  &:hover {
    color: #fff;
  }

  &:active {
    color: $color-primary;
  }
}
