@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/lint/lint.css';
@import '~codemirror/theme/monokai.css';
@import './declarations';

.CodeMirror {
  font-family: $font-family-mono;
  font-size: 13px;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
}

.CodeMirror.cm-s-monokai {
  .CodeMirror-linenumber {
    color: rgba(#fff, 0.15);
  }
  .CodeMirror-activeline-gutter .CodeMirror-linenumber {
    color: rgba(#fff, 0.3);
  }

  .CodeMirror-guttermarker-subtle {
    color: rgba(#fff, 0.2);
  }

  .disabled & {
    .CodeMirror-line {
      opacity: 0.5;
    }
  }
}

/*
  Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272825;
  color: #ddd;
  font-family: $font-family-mono;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-number,
.hljs-strong,
.hljs-name {
  color: #ae81ff;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-attribute,
.hljs-attr,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #a6e22e;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-template-tag,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-variable {
  color: #f8f8f2;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  color: #f92672;
}
