$font-family-sans-serif: 'Lato', sans-serif;
$font-family-mono: 'Source Code Pro', monospace;

$color-primary: #ffcc31;
$color-primary-contrast: #000;
$color-primary2: #0078d7;
$color-highlight: #00bcf2;
$color-spark: #ffcc31;
$color-danger: #fe5353;
$color-success: #14ab57;
$color-lab: #a6cd2f;
$color-white: #fff;
$color-tainted-white: #e4eef2;

$color-dark-gray: #191916;
$color-medium-gray: #272825;
$color-light-gray: #353534;
$color-text: $color-tainted-white;
$color-text-muted: rgba($color-tainted-white, 0.5);

$color-editor-background: $color-medium-gray;
$color-editor-active-line: $color-light-gray;

$dimension-border-width: 2px;
$dimension-click-error-space: 8px;
$dimension-gutter-xs: 2px;
$dimension-gutter-sm: 8px;
$dimension-gutter-md: 16px;
$dimension-gutter-lg: 32px;
$dimension-gutter-xl: 64px;

$dimension-sidenav-width: 65px;
$dimension-navbar-height: 65px;
$dimension-loader-size: 32px;
$dimension-loader-border: 3px;
$dimension-resizer-width: 10px;
$dimension-toolbar-height: 30px;

$z-index-active: 100 !default;
$z-index-content-overlay: 50;
$z-index-base: 0;

$swift-ease-out-duration: 300ms !default;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-in-duration: 300ms !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in-out-duration: 400ms !default;
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1) !default;
$swift-linear-duration: 300ms !default;
$swift-linear-timing-function: linear !default;
$material-enter-duration: 275ms;
$material-enter-timing-function: cubic-bezier(0, 0, 0.2, 1);
$material-leave-duration: 275ms;
$material-leave-timing-function: cubic-bezier(0.4, 0, 1, 1);

@mixin apply-easing-to($attributes, $duration, $timing: 'linear') {
    $values: ();

    @each $attr in $attributes {
        @if length($values) > 0 {
            $values: append($values, unquote(', '));
        }
        $values: append($values, unquote('#{$attr} #{$duration} #{$timing}'));
    }

    transition: $values;
}

@mixin swift-ease-out($attributes...) {
    @include apply-easing-to($attributes, $swift-ease-out-duration, $swift-ease-out-timing-function);
}

@mixin swift-ease-in($attributes...) {
    @include apply-easing-to($attributes, $swift-ease-in-duration, $swift-ease-in-timing-function);
}

@mixin swift-ease-in-out($attributes...) {
    @include apply-easing-to($attributes, $swift-ease-in-out-duration, $swift-ease-in-out-timing-function);
}

@mixin swift-linear($attributes...) {
    @include apply-easing-to($attributes, $swift-linear-duration, $swift-linear-timing-function);
}

@mixin material-enter($attributes...) {
    @include apply-easing-to($attributes, $material-enter-duration, $material-enter-timing-function);
}

@mixin material-leave($attributes...) {
    @include apply-easing-to($attributes, $material-leave-duration, $material-leave-timing-function);
}

@function asset($name) {
  @return '../../assets/images/#{$name}';
}

@mixin layout-row-center() {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin layout-column-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin scroll-y($type: auto) {
  overflow-y: $type;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@mixin unstyled-input() {
  background: none;
  border: none;
  outline: 0 !important;
  color: currentColor;
}
