<ng-container *ngIf="(loggedIn | async) === null">
  <div class="loader"></div>
  <div class="status">
    <ng-container *ngIf="(code | async) !== null">
        Go to <a [href]="codeUrl | async" target="_blank" class="body-link">mixer.com/go</a> to log in!
        <small>You only have to do this once.</small>
    </ng-container>
    <ng-container *ngIf="(code | async) === null">
        Getting a login code...
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="(loggedIn | async) === undefined">
  <ng-content></ng-content>
</ng-container>
