<editor-login-walkthrough (loggedIn)="onLoggedIn()">
  <p>This will overwrite your existing control schema. Are you sure you want to do this?</p>

  <mat-checkbox [(ngModel)]="dontShowAgain">
    Don't ask again for this project
  </mat-checkbox>

  <div mat-dialog-actions>
    <button
      mat-button
      (click)="onSelected(false)"
      tabindex="-1">
      Cancel
    </button>
    <span style="flex:1"></span>
    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="onSelected(true)"
      tabindex="2">
      Upload
    </button>
  </div>
</editor-login-walkthrough>
