<editor-login-walkthrough (loggedIn)="onLoggedIn()">
  <p>This will overwrite your existing control schema. Are you sure you want to do this?</p>

  <md-checkbox [(ngModel)]="dontShowAgain">
    Don't ask again for this project
  </md-checkbox>

  <div md-dialog-actions>
    <button
      md-button
      (click)="onSelected(false)"
      tabindex="-1">
      Cancel
    </button>
    <span style="flex:1"></span>
    <button
      md-button
      md-raised-button
      color="primary"
      (click)="onSelected(true)"
      tabindex="2">
      Upload
    </button>
  </div>
</editor-login-walkthrough>
