@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/xterm/dist/xterm';
@import '../../node_modules/golden-layout/src/css/goldenlayout-base';

@import './assets/styles/declarations';
@import './assets/styles/codemirror';
@import './assets/styles/ng-material';
@import './assets/styles/content-mask';
@import './assets/styles/golden';
@import './assets/styles/fonts';
@import './assets/styles/layout/index';

body {
  background: url('assets/images/background.png') #2e2e2e;
  font-family: $font-family-sans-serif;
  color: $color-text;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

a.body-link {
  color: $color-highlight;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    border-bottom-color: transparent;
  }
}

$scrollbars-size: 6px;
$scrollbars-border-radius: 3em;
$scrollbars-thumb-bg: white;
$scrollbars-opacity: 0.2;
$scrollbars-track-bg: transparent;

::-webkit-scrollbar {
  width: $scrollbars-size;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: $scrollbars-track-bg;
  border-radius: $scrollbars-border-radius;
}

::-webkit-scrollbar-thumb {
  background: rgba($scrollbars-thumb-bg, $scrollbars-opacity);
  transition: all .3s ease-in-out;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: $scrollbars-border-radius;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: $scrollbars-border-radius;
}
