<h1 mat-dialog-title>Bundle Too Big</h1>

<div mat-dialog-content style="max-width: 500px">
  <p>The bundle you tried to upload was too large. Remember that many of Mixer users are on mobile devices or slow connections, try to keep your assets as compact as possible.</p>

  <ng-container *ngIf="data.files">
    <p>Here are the largest files in your bundle, try to shrink some of them down:</p>

    <mat-list role="list">
      <mat-list-item *ngFor="let file of sortBySize(data.files)">
        <h4 mat-line>{{ file.filename }}</h4>
        <p mat-line> {{ file.size | bytes }} </p>
      </mat-list-item>
    </mat-list>
  </ng-container>
</div>
