<div class="device"
  [attr.data-frame]="(device | async)?.frame"
  [attr.data-orientation]="(state | async)?.orientation"
  [style.width.px]="(state | async)?.width"
  [style.height.px]="(state | async)?.height">
  <div class="frame"></div>
  <div class="block"
    *ngFor="let block of stubBlocks"
    [class.block-video]="block.type === 'video'"
    [class.block-chat]="block.type === 'chat'"
    [style.top.px]="block.y"
    [style.left.px]="block.x"
    [style.width.px]="block.width"
    [style.height.px]="block.height">
  </div>
  <div class="block frame-backdrop"
    [style.background-image]="background"
    [style.top.px]="controlsBlock?.y"
    [style.left.px]="controlsBlock?.x"
    [style.width.px]="controlsBlock?.width"
    [style.height.px]="controlsBlock?.height">
    <div class="block block-video"
      *ngIf="(device | async)?.controlsPlaceVideo === true"
      [style.top.px]="(sync.videoSize() | async)?.top"
      [style.left.px]="(sync.videoSize() | async)?.left"
      [style.right.px]="(sync.videoSize() | async)?.right"
      [style.bottom.px]="(sync.videoSize() | async)?.bottom"
      [style.width.px]="(sync.videoSize() | async)?.width"
      [style.height.px]="(sync.videoSize() | async)?.height">
    </div>
    <iframe src="/" frameborder="0" #iframe></iframe>
  </div>
</div>

