<menu-bar menuId="layout#file">
  <menu-bar-text>File</menu-bar-text>
  <menu-bar-items>
    <menu-bar-item text="New Project"></menu-bar-item>
    <menu-bar-item text="Open Project"></menu-bar-item>
    <menu-bar-divider></menu-bar-divider>
    <menu-bar-item text="Save Project"></menu-bar-item>
  </menu-bar-items>
</menu-bar>
<menu-bar menuId="layout#run">
  <menu-bar-text>Run</menu-bar-text>
  <menu-bar-items>
    <menu-bar-item text="On my Computer"></menu-bar-item>
    <menu-bar-item text="On my Channel Page"></menu-bar-item>
  </menu-bar-items>
</menu-bar>
<menu-bar menuId="layout#view">
  <menu-bar-text>View</menu-bar-text>
  <menu-bar-items>
    <menu-bar-item text="Console"></menu-bar-item>
    <menu-bar-item text="Control Schema"></menu-bar-item>
    <menu-bar-item text="Device Emulation"></menu-bar-item>
    <menu-bar-item text="Participants"></menu-bar-item>
    <menu-bar-item text="Groups"></menu-bar-item>
    <menu-bar-item text="History"></menu-bar-item>
  </menu-bar-items>
</menu-bar>
<menu-bar menuId="layout#help">
  <menu-bar-text>Help</menu-bar-text>
  <menu-bar-items>
    <menu-bar-item text="Documentation"></menu-bar-item>
    <menu-bar-item text="Interactive Studio"></menu-bar-item>
    <menu-bar-item text="About miix"></menu-bar-item>
  </menu-bar-items>
</menu-bar>

<span style="flex:1"></span>

<account-switcher></account-switcher>
