<menu-bar menuId="layout#file">
  <menu-bar-text>File</menu-bar-text>
  <menu-bar-items>
    <menu-bar-item (click)="createNewProject()" text="New Project"></menu-bar-item>
    <menu-bar-item (click)="openProject()" text="Open Project"></menu-bar-item>
    <menu-bar-divider></menu-bar-divider>
    <menu-bar-item (click)="closeProject()" [disabled]="!(isOnEditor | async)" text="Close Project"></menu-bar-item>
  </menu-bar-items>
</menu-bar>
<menu-bar menuId="layout#run" [disabled]="!(isOnEditor | async)">
  <menu-bar-text>Run</menu-bar-text>
  <menu-bar-items>
    <menu-bar-item (click)="linkAndUpload()" text="On my Channel Page"></menu-bar-item>
    <menu-bar-item (click)="startRemoteConnection()" *ngIf="!(hasRemoteConnection | async)" text="On my Computer"></menu-bar-item>
    <menu-bar-item (click)="stopRemoteConnection()" *ngIf="hasRemoteConnection | async" text="Disconnect my Controls"></menu-bar-item>
    <menu-bar-divider></menu-bar-divider>
    <menu-bar-item (click)="restartWebpack()" text="Restart Webpack"></menu-bar-item>
    <menu-bar-item (click)="setWebpackConfig()" text="Set Webpack Config"></menu-bar-item>
    <menu-bar-item (click)="openWebpackConfig()" text="Open Webpack Config"></menu-bar-item>
  </menu-bar-items>
</menu-bar>
<menu-bar menuId="layout#view" [disabled]="!(isOnEditor | async)">
  <menu-bar-text>View</menu-bar-text>
  <menu-bar-items>
    <menu-bar-item *ngFor="let key of goldenPanels | keys" (click)="togglePanel(key)" [text]="goldenPanels[key]">
      <menu-bar-icon>
        <mat-icon svgIcon="check-mark" *ngIf="panelOpen(key) | async"></mat-icon>
      </menu-bar-icon>
    </menu-bar-item>
  </menu-bar-items>
</menu-bar>
<menu-bar menuId="layout#schema" [disabled]="!(isOnEditor | async)">
  <menu-bar-text>Control Schema</menu-bar-text>
  <menu-bar-items>
    <menu-bar-item text="Save" (click)="saveControlSchema()"></menu-bar-item>
    <menu-bar-item text="Open" (click)="loadControlSchema()"></menu-bar-item>
    <menu-bar-divider></menu-bar-divider>
    <menu-bar-item (click)="copyControlSchema()" text="Copy from Linked Interactive Game"></menu-bar-item>
    <menu-bar-item (click)="uploadControlSchema()" text="Upload to Linked Interactive Game"></menu-bar-item>
  </menu-bar-items>
</menu-bar>
<menu-bar menuId="layout#help">
  <menu-bar-text>Help</menu-bar-text>
  <menu-bar-items>
    <menu-bar-item [openExternal]="links.customControlDocs" text="Custom Controls Documentation"></menu-bar-item>
    <menu-bar-item [openExternal]="links.gettingStarted.preact" text="Getting Started with Preact"></menu-bar-item>
    <menu-bar-item [openExternal]="links.gettingStarted.html" text="Getting Started with HTML"></menu-bar-item>
    <menu-bar-item [openExternal]="links.cdkStd" text="CDK Standard Library Reference"></menu-bar-item>
    <menu-bar-item [openExternal]="links.interactiveStudio" text="Interactive Studio"></menu-bar-item>
    <menu-bar-item [openExternal]="links.sdks" text="GameClient SDKs"></menu-bar-item>
    <menu-bar-divider></menu-bar-divider>
    <menu-bar-item (click)="openIssue()" text="Report Issue"></menu-bar-item>
    <menu-bar-item (click)="openAbout()" text="About the CDK"></menu-bar-item>
  </menu-bar-items>
</menu-bar>

<span style="flex:1"></span>

<project-dropdown></project-dropdown>
<account-switcher></account-switcher>
