<menu-bar text="File" menuId="layout#file">
  <menu-bar-item text="New Project"></menu-bar-item>
  <menu-bar-item text="Open Project"></menu-bar-item>
  <menu-bar-divider></menu-bar-divider>
  <menu-bar-item text="Save Project"></menu-bar-item>
</menu-bar>
<menu-bar text="Run" menuId="layout#run">
  <menu-bar-item text="On my Computer"></menu-bar-item>
  <menu-bar-item text="On my Channel Page"></menu-bar-item>
</menu-bar>
<menu-bar text="View" menuId="layout#view">
  <menu-bar-item text="Console"></menu-bar-item>
  <menu-bar-item text="Control Schema"></menu-bar-item>
  <menu-bar-item text="Device Emulation"></menu-bar-item>
  <menu-bar-item text="Participants"></menu-bar-item>
  <menu-bar-item text="Groups"></menu-bar-item>
  <menu-bar-item text="History"></menu-bar-item>
</menu-bar>
<menu-bar text="Help" menuId="layout#help">
  <menu-bar-item text="Documentation"></menu-bar-item>
  <menu-bar-item text="Interactive Studio"></menu-bar-item>
  <menu-bar-item text="About miix"></menu-bar-item>
</menu-bar>
