@import '../../../../static/editor/declarations';

:host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: $color-editor-background;
  display: flex;
  flex-direction: column;
}

.content {
  @include scroll-y();

  font-family: $font-family-mono;
  font-size: 13px;
  line-height: 1.5em;
  flex-grow: 1;

  &.nowrap .line {
    white-space: nowrap;
  }

  &.hasExpanded .line {
    opacity: 0.5;
  }

  .line {
    color: #fff;
    padding: 5px 8px 5px 3em;
    overflow: hidden;
    word-break: break-all;
    cursor: pointer;

    &::before {
      display: inline-block;
      margin-left: -3em;
      width: 3.5em;
      margin-right: 5px;
      text-align: right;
    }

    &:nth-child(odd) {
      background:  rgba(#fff, 0.02);
    }

    &:hover,
    &.hovered {
      background: $color-editor-active-line;
    }

    &.expanded {
      opacity: 1;
    }

    &[data-line-type="ReceivedMethod"],
    &[data-line-type="ReceivedReply"] {
      &::before {
        content: '<<<';
        color: $color-success;
      }
    }

    &[data-line-type="SentMethod"],
    &[data-line-type="SentReply"] {
      &::before {
        content: '>>>';
        color: $color-highlight;
      }
    }

    &[data-line-type="Log"] {
      &[data-line-level="error"]::before {
        content: 'ERR';
        color: $color-danger;
      }
      &[data-line-level="warn"]::before {
        content: 'WARN';
        color: $color-spark;
      }
      &[data-line-level="info"]::before {
        content: 'INFO';
        color: $color-primary;
      }
      &[data-line-level="debug"]::before {
        content: 'DEBG';
        color: rgba(#fff, 0.5);
      }
    }
  }
}

.repl {
  display: flex;

  input {
    flex-grow: 1;
    background: none;
    border: none;
    border-top: 1px solid #333;
    padding: 16px;
    font-family: $font-family-mono;
    color: #fff;
    outline: 0 !important;
    font-size: 14px;

    &::placeholder {
      font-style: italic;
    }
  }
}

.toggles {
  display: flex;
  align-items: center;

  .message-kind {
    display: inline-block;
    margin: $dimension-gutter-sm;
    padding: $dimension-gutter-sm / 2;
    margin-bottom: $dimension-gutter-sm;
    color: rgba(#fff, 0.5);
    cursor: pointer;
    font-size: 0.8em;

    &.active {
      border-bottom: 2px solid $color-primary;
      color: rgba(#fff, 0.8);
    }
  }

  mat-icon {
    color: rgba(#fff, 0.5);
  }
}
