<div class="welcome-header">
  <h1>Control Development Kit</h1>
</div>
<div class="sections layout-row layout-padding">
  <div class="quick-links-section flex-33">
    <div class="quick-links-header">Start</div>
    <div class="quick-links-item" (click)="createNewProject()">New Project</div>
    <div class="quick-links-item" (click)="openProject()">Open Project</div>
  </div>
  <div class="quick-links-section flex-33">
    <div class="quick-links-header">Recent</div>
    <ng-container *ngFor="let recent of (projects | async)">
      <div
        class="quick-links-item"
        (click)="openRecentProject(recent.url)">
        {{ recent.name }}
      </div>
    </ng-container>
    <div class="placeholder" *ngIf="(projects | async)?.length === 0">
      Nothing yet. <a class="body-link" (click)="createNewProject()">Create a project</a>!
    </div>
  </div>
  <div class="quick-links-section flex-33">
    <div class="quick-links-header">Help</div>
    <div class="quick-links-item" [openExternal]="links.customControlDocs">Custom Controls Documentation</div>
    <div class="quick-links-item" [openExternal]="links.gettingStarted.preact">Getting Started with Preact</div>
    <div class="quick-links-item" [openExternal]="links.gettingStarted.html">Getting Started with HTML</div>
    <div class="quick-links-item" [openExternal]="links.cdkStd">CDK Standard Library Reference</div>
    <div class="quick-links-item" [openExternal]="links.interactiveStudio">Interactive Studio</div>
    <div class="quick-links-item" [openExternal]="links.sdks">GameClient SDKs</div>
    <div class="quick-links-item" (click)="openAbout()">About the CDK</div>
  </div>
</div>
