<h1 mat-dialog-title>Upload Complete</h1>
<div mat-dialog-content>
  <p>Upload complete, your changes will appear on your channel page when you reconnect your game client. If you're interested, you can <a class="body-link" (click)="saveConsole()">save the compilation output</a>.</p>

  <p>You'll be able to see them on your changes on your channel page: <a openExternal="https://mixer.com/{{ username | async }}" class="body-link">https://mixer.com/{{ username | async }}</a>.</p>
</div>
<div mat-dialog-actions>
  <span class="flex-fill"></span>
  <button mat-button (click)="dialogRef.close()" cdkFocusInitial>Close</button>
</div>
