@import '../../assets/styles/declarations';

:host {
  max-width: 700px;
}

mat-panel-description {
  justify-content: flex-end;

  small {
    color: rgba(#fff, 0.5);
  }
}

mat-expansion-panel {
  background: rgba(0, 0, 0, 0.2);
}


.new-button {
  margin-top: 24px;
  text-align: center;
}
.no-project-placeholder {
  margin: $dimension-gutter-xl $dimension-gutter-lg;
  text-align: center;
}
