<editor-login-walkthrough (loggedIn)="onLoggedIn()">
  <ng-container *ngIf="(projects | async)?.length > 0">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let project of (projects | async); let i = index"
        [expanded]="(expandedProject | async) === i"
        (opened)="expandedProject.next(i)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ project.name }}
          </mat-panel-title>
          <mat-panel-description>
            Updated {{ getLastUpdatedAgo(project) }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let version of project.versions">
            <span style="flex:1">
              {{ version.version }}
              <small>Updated {{ getTimeAgo(version.updatedAt) }}</small>
            </span>
            <button mat-button mat-raised-button (click)="select(version.id)">Link</button>
          </mat-list-item>
        </mat-list>

        <div class="new-button">
          <a
            href="https://mixer.com/lab/interactive/tool/{{ project.id}}/create-version"
            target="_blank"
            mat-button>
            Add New Version
          </a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="new-button">
      <a href="https://mixer.com/lab/interactive"
        target="_blank"
        mat-raised-button
        color="primary">
        Create New Game
      </a>
    </div>
  </ng-container>

  <div class="no-project-placeholder" *ngIf="(projects | async)?.length === 0">
    You haven't created any Interactive games yet!
    <div class="new-button">
      <a href="https://mixer.com/lab/interactive"
        target="_blank"
        mat-raised-button
        color="primary">
        Create New Game
      </a>
    </div>
  </div>
</editor-login-walkthrough>
