<h1 mat-dialog-title>Bundle name taken!</h1>
<div mat-dialog-content>
  <p>
    Someone else already owns that bundle name on Mixer! Try renaming your project:
  </p>
  <mat-input-container>
    <input matInput placeholder="Bundle Name"
      [ngModel]="name | async"
      (ngModelChange)="name.next($event)"
      [disabled]="isLoading | async">
  </mat-input-container>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button (click)="submit()" [disabled]="isLoading | async">Rename</button>
</div>
