@import '../../node_modules/normalize.css/normalize';

@import './declarations';
@import './styles/codemirror';
@import './styles/ng-material';

body {
  background: url(asset('background.png')) #2e2e2e;
  font-family: $font-family-sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

a.body-link {
  color: $color-highlight;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    border-bottom-color: transparent;
  }
}
